@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/open-sans.woff2") format("woff2");
}
@font-face {
    font-family: "Crapaud";
    src: url("./crapaud-gros/crapaud-gros.woff2") format("woff2");
}