
.icon-line-btn-form:before { content: '\e800'; } /* '' */
.icon-line-h2-responsive:before { content: '\e801'; } /* '' */
.icon-line-h2:before { content: '\e802'; } /* '' */
.icon-line-input:before { content: '\e803'; } /* '' */
.icon-line-menu:before { content: '\e804'; } /* '' */
.icon-shape-about:before { content: '\e805'; } /* '' */
.icon-cadre-form:before { content: '\e806'; } /* '' */
.icon-footer-shape:before { content: '\e807'; } /* '' */
.icon-line-filter:before { content: '\e808'; } /* '' */