@font-face {
    font-family: "Abhaya Libre";
    src: url("./abhaya-libre/abhaya-libre.woff2") format("woff2");
}
@font-face {
    font-family: "HK Grotesk";
    src: url("./hk-grotesk/hk-grotesk.woff2") format("woff2");
}